:root {
    --background-color: #0e0e0e;
    --secondary-color: #121212;
    --hover-color: #1A1A1A;
    --second-hover-color: #262626;
    --accent-color: #0456ee;
    --primary-text: #ffffff;
    --secondary-text: #9ca3af;
    --accent-text: #55fff5;
}


.content {
    position: absolute;

    top: 110px;
    height: 85%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: reverse;

    z-index: 1;
}
.info-box {
    height: 95%;
    width: 49vh;

    background-color: var(--secondary-color);
    margin-left: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.background-image {
    position: relative;
    z-index: 2;

    background-image: url(/assets/backgroundimages/pearinc.png);
    background-size: cover;
    filter: brightness(70%);

    height: 95%;
    width: 75%;
    margin-right: 2vh;

    display: flex;
}
.logo {
    position: relative;
    display: flex;
    width: 20vh;
    height: 20vh;
    top: 2vh;
}
.name {
    font-size: 3.5vh;
    text-decoration: underline;
    height: 10vh;
    width: 40vh;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
    text-align: center;

    z-index: 2;

    color: var(--primary-text);
}
.description {
    width: 40vh;

    margin-bottom: 2vh;

    font-size: 2.5vh;
    color: var(--primary-text);
    text-align: center;
    overflow: scroll;
}
.mer-info {
    width: 45vh;
    height: 8vh;
    border: 1px transparent;
    margin-top: auto;
    margin-bottom: 2vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--hover-color);
    transition: all ease-in-out .10s;

}
.mer-info:hover {
    background-color: var(--second-hover-color);
}
.mer-info p {
    margin: 2vh;
    color: var(--secondary-text);
    font-family: Minecraft Five;
    font-size: 2.5vh;
}
.arrow-up {
    width: 4vh;
    height: auto;
    margin: 2vh;
    fill: var(--secondary-text);
}
.more-info {
    display: none;
    background-color: var(--hover-color);
    fill: var(--secondary-text);
    color: var(--secondary-text);
    height: 100%;
    z-index: 90;
    position: relative;
    flex-direction: column;
    align-items: flex-start;

    margin-top: auto;
    margin-bottom: 2vh;
}
.more-info tr {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2vh;
}
.more-info th {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vh;
    margin-left: 0;
}
.more-info svg {
    width: 3vh;
    height: auto;
}
.more-info img {
    width: 3vh;
    height: auto;
}
.more-info p {
    font-size: 2.5vh;
    height: auto;
}

.mindre-info {
    width: 45vh;
    height: 8vh;
    border: 1px transparent;
    margin-top: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--hover-color);
    transition: all ease-in-out .10s;

}
.mindre-info:hover {
    background-color: var(--second-hover-color);
}
.mindre-info p {
    margin: 2vh;
    color: var(--secondary-text);
    font-family: Minecraft Five;
    font-size: 2.5vh;
}
.arrow-down {
    width: 4vh;
    height: auto;
    margin: 2vh;
    fill: var(--secondary-text);
}

@media(max-width: 1080px) {
    .content {
        justify-content: center;
    }
    .info-box {
        margin-left: 0;
    }
    .background-image {
        display: none;
    }
}

