:root {
    --background-color: #0e0e0e;
    --secondary-color: #121212;
    --hover-color: #1A1A1A;
    --accent-color: #0456ee;
    --primary-text: #ffffff;
    --secondary-text: #9ca3af;
    --accent-text: #55fff5;
}


body {
    align-items: center;
    justify-content: center;
}










.leaderboard-container {
    width: 100%;
    top: 20vh;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: -1;
}
.leaderboard-logo {
    width: 35vw;
    max-width: 100%;
    min-width: 350px;
    margin: 1vh;

    z-index: -1;
}

.player-box {
    background-color: var(--secondary-color);
    width: 50vw;
    max-width: 40vw;
    min-width: 350px;
    margin: 1vh;

    z-index: -1;
}
.player-box ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    list-style: none;
    height: 3vw;
    align-items: center;

    z-index: -1;
}
.player-box li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -1;
}
.leaderboard-head {
    height: 3vw;
    width: auto;
    min-height: 35px;
    margin-right: 1vh;

    z-index: -1;
}
.leaderboard-name {
    font-size: 140%;
    color: var(--primary-text);

    z-index: -1;
}
.diamond-count {
    font-size: 120%;
    color: var(--accent-text);

    z-index: -1;
}
.diamond {
    height: 1.5vw;
    width: auto;
    min-height: 25px;
    display: flex;

    z-index: -1;
}
@media(max-width: 1200px) {
    .player-box {
        height: 110px;
    }
    .player-box ul {
        height: 110px;
        flex-direction: column;

        justify-content: center;
        row-gap: 15%;
    } 
}