:root {
    --background-color: #0e0e0e;
    --secondary-color: #121212;
    --hover-color: #1A1A1A;
    --accent-color: #0456ee;
    --primary-text: #ffffff;
    --secondary-text: #9ca3af;
    --accent-text: #55fff5;
}

@font-face {
    font-family: Minecraft Five;
    src: url(/assets/fonts/MinecraftFive.ttf);
}


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: Minecraft Five;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeInUp-animation {
    animation: 1s fadeInUp;
}

/* Start of the navbar */
nav {
    position: fixed;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.1);

    z-index: 998;
}
nav svg {
    fill: var(--primary-text);
}
nav img {
    max-width: 130px;
    position: relative;
}
nav ul {
    width: 100%;

    list-style-type: none;
    display: flex;
    align-items: center;
}
nav li {
    height: 80px;
}
nav li:last-child {
    margin-left: auto;
}
nav a {
    height: 100%;
    padding: 0 10px;

    text-decoration: none;
    color: var(--primary-text);
    font-size: 26px;

    display: flex;
    align-items: center;
}
.selected {
    text-decoration: underline;
}
/* End of the navbar */
/* Additional code for sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--secondary-color);
    box-shadow: -10px, 0 20px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu-button {
    display: none;
}

/* End of sidebar */





@media(max-width: 850px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .nav-logo {
        width: 30vw;
        min-width: 100px;
        margin-left: 1vh;
    }
}
