:root {
    --background-color: #0e0e0e;
    --secondary-color: #121212;
    --hover-color: #1A1A1A;
    --accent-color: #0456ee;
    --primary-text: #ffffff;
    --secondary-text: #9ca3af;
    --accent-text: #55fff5;
}



.player-container {
    width: 100%;

    position: relative;
    z-index: 0;

    top: 20vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.player-card {
    background-color: var(--secondary-color);

    z-index: 1;

    width: 280px;

    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    transition: all ease-in-out .10s;
}
.player-card:hover {
    background-color: var(--hover-color);
    transition: all ease-in-out .10s;
}


.skin {
      width: 150px;

      z-index: 2;
}
.name {
    font-size: 23px;
    margin-top: 8px;
    margin-bottom: 8px;

    z-index: 2;

    color: var(--primary-text);
}
.date-joined {
    font-size: 18px;
    
    color: var(--secondary-text);

    z-index: 2;
}